code{
    padding: 10px;
    margin: 20px;
    display: block;
    background-color:antiquewhite;
}
.relax{
    background-color:gainsboro;
}
.big-wrong{
    background-color: red;
    font-size: larger;
    color: white;
}
.wrong{
    background-color: rgba(255, 0, 0, 0.508);
    color: white;
}
.right{
    background-color: rgba(0, 128, 0, 0.589);
    color: white;
}
.code-inline{
    display: inline;
    padding: 2px;
    margin: 0px;
}
.code-title{
    display: block;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
}
.code-subtitle{
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: smaller;
    text-align: center;
}
.nav-link{
    float: right;  
    margin: 10px;
    color: white
}
table{
    border: 1px solid;
    width: 100%;
    text-align: center;
}
img{
    display: block;
    padding: 10px;
    width: 400px;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
section{
    padding: 30px;
    margin: 10px;
    border: 0px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-color:slategray;
    color: white;
    padding: 20px;
}